
//- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
//- See LICENSE in the project root for license information.

doctype html
html
  head
    title Microsoft Graph Node.js Connect Sample
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://appsforoffice.microsoft.com/fabric/1.0/fabric.css')
    link(rel='stylesheet', href='https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.css')
    link(rel='stylesheet', href='/css/main.css')

    script(src='//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js')

body.ms-Grid
    block content